*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
height:100%;
width:100%;
font-size: 100%;
line-height: 1;
font-size:14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;
} 

input::-ms-clear{display: none;}
button{cursor: pointer;} 
button::-moz-focus-inner{padding: 0; border:0;} 
a, a:visited{text-decoration: none; color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;} 
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 390px;
}

.menu{
    float: left;
    padding-left: 430px;
    
}

.menu li{
    float: left;
    font-size: 16px;
    color: white;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
}

.menu li a:visited{
    color: white;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url('../img/boy.png') 90% 100%/auto 85% no-repeat, url('../img/bg.jpg') center/cover no-repeat;

}
.title__container{
    float: left;
    margin: 404px 0px 0px 432px;
    color: #2c384a;
    text-align: center;
  
}


.title__container h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    color: #79818d;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.title__container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.me_container h2{
    text-align: center;
    width: 156px;
    font-size: 33px;
    margin: 110px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.me_container{
    width: 740px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.me_container img{
    display: block;
    margin: 0 auto;
}
.me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
}

.me_container p{
    margin-top: 24px;
    font-size: 17px;
    
}

.me_container .secondText{
    margin-top: 45px;
}

.me_container a{
    display: block;
    width: 162px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background: url('../img/dowlond.png') 6%/auto no-repeat;
    padding-left: 18px;
    
}

.skills{
    background: url('../img/bg_2.jpg') center/cover no-repeat;
}
.skills_container{
    width: 1094px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 96px;
}
.skills_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}
.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 100px;
}
.skills_text{
    float: left;
    width: 200px;
    text-align: center;
    margin: 0 36px;
}

.skills_text img{
    margin-bottom: 40px;
    height: 40px;
}
.skills_text h3{
    font-size: 18px;
    color: #cf7600;
    margin-bottom: 20px;
}
.skills_text p{
    font-size: 16px;
}
.clear{
    clear:both;
}

.case{
    padding-top: 110px;
    padding-bottom: 128px;
}

.case_container{
    width: 1170px;
    margin: 0 auto;
    
}
.case_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.case_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
}

.case_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.case_container img{
    width: 100%;
    margin-bottom: 40px;
}

.description_left{
    width: 200px;
    float: left;
    margin-right: 82px;
}
.description_left h3{
    font-size: 25px;
    
}

.description_left p{
    font-size: 17px;
    margin: 16px 0;
}

.description_left a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    
}
.description_right h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.description_right p{
    font-size: 20px;

}

.calculator{
    padding-bottom: 84px;
}
.calculator_container{
    width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    padding-top: 74px;
}

.calculator_container h2{
     text-align: center;
    width: 358px;
    font-size: 43px;
    margin: 0px auto 50px;
    
}
.calculator_inner{
    width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator_inner h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.calculator_inner select{
    margin-bottom: 44px;
}

.calculator_inner hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 100%;
    margin: 0 auto 24px;
}

.mySelect{
    display: block;
    width: 890px;
    height: 54px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.days, .price{
    margin-bottom: 18px;
    font-size: 21px;
    
}

.calculator_footer .text{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}

.statistic{
    background: url('../img/bg3.jpg') center/cover no-repeat;
}


.statistic_container{
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.statistic_container h2{
      text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.statistic_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 90px;
}


.statistic_item{
    display: inline-block;
    width: 213px;
    text-align: center;
}
.statistic_item img{
    height: 54px;
}
.statistic_item h3{
    font-size: 37px;
    font-weight: 800;
    margin: 34px 0;
}

.statistic_item p{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.margin-right{
    margin-right: 53px;
}

.reviews_container{
    width: 700px;
    margin-top: 110px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.reviews_container h2{
     text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.reviews_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
}

.review{
    text-align: center;
}

.review img{
    margin-bottom: 36px;
}

.review_text{
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 36px;
}

.review_author{
    font-size: 16px;
    line-height: 24px;
}

.review_author span{
    font-weight: 800;
}

.contacts{
    background: url('../img/bg4.jpg') center/cover no-repeat;
    color: white;
}

.contacts_container{
    width: 734px;
    margin: 0 auto;
    padding-bottom: 68px;
}

.contacts_container h2{
    text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.contacts_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 32px;
}

.contacts_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
}

.contacts_data_item{
    float: left;
    width: 154px;
    text-align: center;
    margin: 0 45px;
}

.contacts_data_item img{
    height: 24px;
    margin-bottom: 16px;
    
}

.contacts_data_item p{
    font-size: 16px;
}

.contacts_container h3{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-size: 21px;
    text-transform: uppercase;
}

.contacts_inputs input{
    display: block;
    width: 352px;
    float: left;
    height: 34px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}

.contacts_inputs .secondInput{
    float: right;
}

.contacts_container textarea{
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
}

.contacts_container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 76px;
}

.contacts_social{
    width: 422px;
    margin: 0 auto;
    
}

.contacts_social a{
    display: block;
    float: left;
    margin: 0 20px;
}
.contacts_social img{
    height: 30px;
}

.footer{
    background: #354051;
    height: 94px;
}

.footer_container{
    text-align: center;
    line-height: 94px;
    color: white;
}








































